In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# Create

In [ ]:
shop = Shop()  # FirstShop (O), first_shop (X), firstShop (X), first_Shop (X)
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [ ]:
shop.save()

In [ ]:
shop = Shop.objects.create(
    name="셀프24시빨래방",
    telephone="042-1234-4321",
)
shop

# Select

In [4]:
qs = Shop.objects.all()

In [5]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

In [ ]:
qs.order_by("-id") # , "created_at")  # 정렬은 가급적 단일 컬럼을 쓰세요.

## 데이터 뻥튀기

In [10]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:06.154295', '2021-12-01 06:45:06.154295'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:06.154295', '2021-12-01 06:45:06.154295']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:06.165296', '2021-12-01 06:45:06.165296'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:06.165296', '2021-12-01 06:45:06.165296']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:06.170673', '2021-12-01 06:45:06.170673'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:06.170673', '2021-12-01 06:45:06.170673']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:06.170673', '2021-12-01 06:45:06.170673'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:06.170673', '2021-12-01 06:45:06.170673']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:06.182739', '2021-12-01 06:45:06.182739'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:06.182739', '2021-12-01 06:45:06.182739']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:06.191355', '2021-12-01 06:45:06.191355'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:06.191355', '2021-12-01 06:45:06.191355']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:06.195591', '2021-12-01 06:45:06.195591'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:06.195591', '2021-12-01 06:45:06.195591']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:06.200458', '2021-12-01 06:45:06.200458'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:06.200458', '2021-12-01 06:45:06.200458']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:06.205952', '2021-12-01 06:45:06.205952'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:06.205952', '2021-12-01 06:45:06.205952']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:06.210470', '2021-12-01 06:45:06.210470'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:06.210470', '2021-12-01 06:45:06.210470']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:06.219542', '2021-12-01 06:45:06.219542'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:06.219542', '2021-12-01 06:45:06.219542']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:06.223528', '2021-12-01 06:45:06.223528'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:06.223528', '2021-12-01 06:45:06.223528']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:06.227346', '2021-12-01 06:45:06.227346'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:06.227346', '2021-12-01 06:45:06.227346']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:06.233373', '2021-12-01 06:45:06.233373'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:06.233373', '2021-12-01 06:45:06.233373']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:06.241343', '2021-12-01 06:45:06.241343'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:06.241343', '2021-12-01 06:45:06.241343']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:06.248198', '2021-12-01 06:45:06.248198'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:06.248198', '2021-12-01 06:45:06.248198']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:06.254126', '2021-12-01 06:45:06.254126'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:06.254126', '2021-12-01 06:45:06.254126']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:06.259415', '2021-12-01 06:45:06.259415'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:06.259415', '2021-12-01 06:45:06.259415']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:06.265529', '2021-12-01 06:45:06.265529'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:06.265529', '2021-12-01 06:45:06.265529']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:06.269406', '2021-12-01 06:45:06.269406'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:06.269406', '2021-12-01 06:45:06.269406']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:06.278408', '2021-12-01 06:45:06.278408'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:06.278408', '2021-12-01 06:45:06.278408']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:06.283753', '2021-12-01 06:45:06.283753'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:06.283753', '2021-12-01 06:45:06.283753']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:06.290482', '2021-12-01 06:45:06.290482'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:06.290482', '2021-12-01 06:45:06.290482']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:06.295482', '2021-12-01 06:45:06.295482'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:06.295482', '2021-12-01 06:45:06.295482']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:06.300500', '2021-12-01 06:45:06.300500'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:06.300500', '2021-12-01 06:45:06.300500']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:06.304483', '2021-12-01 06:45:06.304483'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:06.304483', '2021-12-01 06:45:06.304483']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:06.312489', '2021-12-01 06:45:06.312489'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:06.312489', '2021-12-01 06:45:06.312489']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:06.321482', '2021-12-01 06:45:06.321482'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:06.321482', '2021-12-01 06:45:06.321482']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:06.326574', '2021-12-01 06:45:06.326574'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:06.326574', '2021-12-01 06:45:06.326574']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:06.334484', '2021-12-01 06:45:06.334484'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:06.334484', '2021-12-01 06:45:06.334484']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:06.342484', '2021-12-01 06:45:06.342484'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:06.342484', '2021-12-01 06:45:06.342484']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:06.348485', '2021-12-01 06:45:06.348485'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:06.348485', '2021-12-01 06:45:06.348485']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:06.355485', '2021-12-01 06:45:06.355485'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:06.355485', '2021-12-01 06:45:06.355485']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:06.361484', '2021-12-01 06:45:06.361484'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:06.361484', '2021-12-01 06:45:06.361484']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:06.371484', '2021-12-01 06:45:06.371484'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:06.371484', '2021-12-01 06:45:06.371484']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:06.378492', '2021-12-01 06:45:06.378492'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:06.378492', '2021-12-01 06:45:06.378492']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:06.383485', '2021-12-01 06:45:06.383485'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:06.383485', '2021-12-01 06:45:06.383485']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:06.399487', '2021-12-01 06:45:06.399487'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:06.399487', '2021-12-01 06:45:06.399487']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:06.402896', '2021-12-01 06:45:06.402896'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:06.402896', '2021-12-01 06:45:06.402896']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:06.402896', '2021-12-01 06:45:06.402896'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:06.402896', '2021-12-01 06:45:06.402896']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:06.418526', '2021-12-01 06:45:06.418526'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:06.418526', '2021-12-01 06:45:06.418526']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:06.425451', '2021-12-01 06:45:06.425451'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:06.425451', '2021-12-01 06:45:06.425451']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:06.430824', '2021-12-01 06:45:06.430824'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:06.430824', '2021-12-01 06:45:06.430824']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:06.435241', '2021-12-01 06:45:06.435241'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:06.435241', '2021-12-01 06:45:06.435241']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:06.435241', '2021-12-01 06:45:06.435241'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:06.435241', '2021-12-01 06:45:06.435241']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:06.448806', '2021-12-01 06:45:06.448806'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:06.448806', '2021-12-01 06:45:06.448806']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:06.453509', '2021-12-01 06:45:06.453509'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:06.453509', '2021-12-01 06:45:06.453509']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:06.457995', '2021-12-01 06:45:06.457995'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:06.457995', '2021-12-01 06:45:06.457995']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:06.462405', '2021-12-01 06:45:06.462405'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:06.462405', '2021-12-01 06:45:06.462405']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:06.468439', '2021-12-01 06:45:06.468439'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:06.468439', '2021-12-01 06:45:06.468439']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:06.473255', '2021-12-01 06:45:06.473255'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:06.473255', '2021-12-01 06:45:06.473255']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:06.479272', '2021-12-01 06:45:06.479272'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:06.479272', '2021-12-01 06:45:06.479272']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:06.483939', '2021-12-01 06:45:06.483939'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:06.483939', '2021-12-01 06:45:06.483939']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:06.488242', '2021-12-01 06:45:06.488242'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:06.488242', '2021-12-01 06:45:06.488242']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:06.493579', '2021-12-01 06:45:06.493579'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:06.493579', '2021-12-01 06:45:06.493579']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:06.497844', '2021-12-01 06:45:06.497844'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:06.497844', '2021-12-01 06:45:06.497844']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:06.502207', '2021-12-01 06:45:06.502207'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:06.502207', '2021-12-01 06:45:06.502207']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:06.514802', '2021-12-01 06:45:06.514802'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:06.514802', '2021-12-01 06:45:06.514802']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:06.520142', '2021-12-01 06:45:06.520142'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:06.520142', '2021-12-01 06:45:06.520142']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:06.525209', '2021-12-01 06:45:06.525209'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:06.525209', '2021-12-01 06:45:06.525209']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:06.529633', '2021-12-01 06:45:06.529633'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:06.529633', '2021-12-01 06:45:06.529633']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:06.534992', '2021-12-01 06:45:06.534992'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:06.534992', '2021-12-01 06:45:06.534992']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:06.534992', '2021-12-01 06:45:06.534992'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:06.534992', '2021-12-01 06:45:06.534992']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:06.534992', '2021-12-01 06:45:06.534992'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:06.534992', '2021-12-01 06:45:06.534992']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:06.549448', '2021-12-01 06:45:06.549448'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:06.549448', '2021-12-01 06:45:06.549448']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:06.554714', '2021-12-01 06:45:06.554714'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:06.554714', '2021-12-01 06:45:06.554714']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:06.558598', '2021-12-01 06:45:06.558598'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:06.558598', '2021-12-01 06:45:06.558598']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:06.564473', '2021-12-01 06:45:06.564473'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:06.564473', '2021-12-01 06:45:06.564473']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:06.567082', '2021-12-01 06:45:06.567082'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:06.567082', '2021-12-01 06:45:06.567082']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:06.567082', '2021-12-01 06:45:06.567082'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:06.567082', '2021-12-01 06:45:06.567082']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:06.567082', '2021-12-01 06:45:06.567082'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:06.567082', '2021-12-01 06:45:06.567082']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:06.581169', '2021-12-01 06:45:06.581169'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:06.581169', '2021-12-01 06:45:06.581169']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:06.586066', '2021-12-01 06:45:06.586066'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:06.586066', '2021-12-01 06:45:06.586066']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:06.590213', '2021-12-01 06:45:06.590213'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:06.590213', '2021-12-01 06:45:06.590213']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:06.594589', '2021-12-01 06:45:06.594589'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:06.594589', '2021-12-01 06:45:06.594589']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:06.598421', '2021-12-01 06:45:06.598421'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:06.598421', '2021-12-01 06:45:06.598421']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:06.602961', '2021-12-01 06:45:06.602961'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:06.602961', '2021-12-01 06:45:06.602961']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:06.602961', '2021-12-01 06:45:06.602961'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:06.602961', '2021-12-01 06:45:06.602961']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:06.602961', '2021-12-01 06:45:06.602961'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:06.602961', '2021-12-01 06:45:06.602961']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:06.617181', '2021-12-01 06:45:06.617181'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:06.617181', '2021-12-01 06:45:06.617181']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:06.620644', '2021-12-01 06:45:06.620644'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:06.620644', '2021-12-01 06:45:06.620644']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:06.625470', '2021-12-01 06:45:06.625470'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:06.625470', '2021-12-01 06:45:06.625470']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:06.629772', '2021-12-01 06:45:06.629772'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:06.629772', '2021-12-01 06:45:06.629772']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:06.633687', '2021-12-01 06:45:06.633687'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:06.633687', '2021-12-01 06:45:06.633687']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:06.633687', '2021-12-01 06:45:06.633687'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:06.633687', '2021-12-01 06:45:06.633687']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:06.633687', '2021-12-01 06:45:06.633687'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:06.633687', '2021-12-01 06:45:06.633687']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:06.647491', '2021-12-01 06:45:06.647491'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:06.647491', '2021-12-01 06:45:06.647491']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:06.652169', '2021-12-01 06:45:06.652169'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:06.652169', '2021-12-01 06:45:06.652169']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:06.656435', '2021-12-01 06:45:06.656435'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:06.656435', '2021-12-01 06:45:06.656435']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:06.660138', '2021-12-01 06:45:06.660138'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:06.660138', '2021-12-01 06:45:06.660138']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:06.660138', '2021-12-01 06:45:06.660138'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:06.660138', '2021-12-01 06:45:06.660138']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:06.660138', '2021-12-01 06:45:06.660138'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:06.660138', '2021-12-01 06:45:06.660138']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:06.676503', '2021-12-01 06:45:06.676503'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:06.676503', '2021-12-01 06:45:06.676503']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:06.679835', '2021-12-01 06:45:06.679835'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:06.679835', '2021-12-01 06:45:06.679835']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:06.685249', '2021-12-01 06:45:06.685249'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:06.685249', '2021-12-01 06:45:06.685249']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:06.689819', '2021-12-01 06:45:06.689819'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:06.689819', '2021-12-01 06:45:06.689819']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:06.693263', '2021-12-01 06:45:06.693263'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:06.693263', '2021-12-01 06:45:06.693263']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:06.697107', '2021-12-01 06:45:06.697107'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:06.697107', '2021-12-01 06:45:06.697107']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:06.700381', '2021-12-01 06:45:06.700381'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:06.700381', '2021-12-01 06:45:06.700381']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:06.705901', '2021-12-01 06:45:06.705901'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:06.705901', '2021-12-01 06:45:06.705901']

## Slicing

In [11]:
qs = Shop.objects.all()

In [12]:
qs[:10]  # first 10 rows

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>]>

In [13]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>,
 <Shop: Shop object (96)>]

In [14]:
qs[-10:]  # last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [17]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

12 가게명#8 042-1234-9008
11 가게명#7 042-1234-9007
10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

## Conditions

In [18]:
qs = Shop.objects.all()

In [19]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [20]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [23]:
# lt : less than            <
# lte : less than equal     <=
# gt : greater than         >
# gte : greather than equal >=
qs.filter(
    pk__gte=5,
    pk__lt=10,  # less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [24]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [28]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [29]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# QuerySet is Lazy.

In [30]:
qs = Shop.objects.all()

In [31]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [40]:
# qs = Shop.objects.all()
# shop_list = list(qs)  # NEVER !!!

## Get 1 Row

In [45]:
pk = 10
not_existed_pk = 100000

In [42]:
shop = Shop.objects.get(pk=pk)  # 가져올 대상이 1개임을 기대. 1개가 아니면 예외가 발생.
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [47]:
Shop.objects.get(pk=not_existed_pk)  # Shop.DoesNotExist 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [44]:
shop = Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [48]:
Shop.objects.filter(pk=not_existed_pk)[0]  # IndexError 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [49]:
Shop.objects.filter(pk=not_existed_pk).first()  # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생 X.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditions (OR)

In [50]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10)  # AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [51]:
from django.db.models import Q

In [52]:
Q(pk__gte=5)

In [53]:
Q(pk__lt=10)

In [54]:
Q(pk__gte=5) & Q(pk__lt=10)

In [55]:
Q(pk__gte=5) | Q(pk__lt=10)

In [56]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [57]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row

In [58]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [59]:
shop.name, shop.telephone

('가게명#6', '042-1234-9006')

In [60]:
shop.telephone = '042-1234-0006'

In [61]:
shop.save()

(0.000) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:06.191355', "updated_at" = '2021-12-01 07:38:34.809593' WHERE "mall_shop"."id" = 10; args=('가게명#6', '', '042-1234-0006', '', '2021-12-01 06:45:06.191355', '2021-12-01 07:38:34.809593', 10)

## 지정 범위의 Rows

In [62]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

(0.000) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

8

In [63]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = 'not used description', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:06.191355', "updated_at" = '2021-12-01 07:42:04.322817' WHERE "mall_shop"."id" = 10; args=('가게명#6', 'not used description', '042-1234-0006', '', '2021-12-01 06:45:06.191355', '2021-12-01 07:42:04.322817', 10)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used description', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 06:45:06.182739', "updated_at" = '2021-12-01 07:42:04.322817' WHERE "mall_shop"."id" = 9; args=('가게명#5', 'not used description', '042-1234-9005', '', '2021-12-01 06:45:06.182739', '2021-12-01 07:42:04.322817', 9)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 06:45:06.170673', "updated_at" = '2021-12-01 07:42:04.338443' WHERE "mall_shop"."id" = 8; args=('가게명#4', 'not used description', '042-1234-9004', '', '2021-12-01 06:45:06.170673', '2021-12-01 07:42:04.338443', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:06.170673', "updated_at" = '2021-12-01 07:42:04.338443' WHERE "mall_shop"."id" = 7; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:45:06.170673', '2021-12-01 07:42:04.338443', 7)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:06.165296', "updated_at" = '2021-12-01 07:42:04.354070' WHERE "mall_shop"."id" = 6; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:06.165296', '2021-12-01 07:42:04.354070', 6)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:06.154295', "updated_at" = '2021-12-01 07:42:04.354070' WHERE "mall_shop"."id" = 5; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:06.154295', '2021-12-01 07:42:04.354070', 5)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:11:02.532136', "updated_at" = '2021-12-01 07:42:04.354070' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:11:02.532136', '2021-12-01 07:42:04.354070', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:11:01.476083', "updated_at" = '2021-12-01 07:42:04.354070' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:11:01.476083', '2021-12-01 07:42:04.354070', 3)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()